*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
body{
         display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
}
main{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-direction: column;
        border: transparent;
        width: 600px;
        text-align: center;
        font-family:sans-serif ;
        background-color: rgb(199, 199, 199);
        height: 400px;
        border-radius: 20px;
        box-shadow: 3px 2px 3px gray;
}
body{
        background-color: rgb(0, 0, 0);
}
h1{
        margin-left: -350px;
}
.diaSemana{
        margin-left: 400px ;
        font-size: 18pt;
}
.tempo{
        font-size: 40pt;
        margin-top: 70px;
}

.data{
        margin-top: 80px;
        margin-right: 400px;
        font-size: 15pt;
}
@media screen and (max-width : 630px) {
        main{
                width: 300px ;
                height: 250px;
        }
        h1{
               margin-left: 0px;
        }
        .diaSemana{
                margin-left: 0px ;
                font-size: 14pt;
        }
        .tempo{
        font-size: 30pt;
        margin-top: 0px;  
      }
       .data{
        margin-top: 0px;
        margin-right: 0px;
        font-size: 13pt;
      }

}